<!DOCTYPE html>
<html>
  <head>
    <title>DelivHerokuWeatherChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
      <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
      <script src="https://d3js.org/d3.v5.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
